* {
    /* font-family: 'Merriweather Sans', sans-serif; */
    margin: 0 auto;
    /* font-family: 'Merriweather', serif; */
}

header
 {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(50, 49, 145);
    color: white;
    text-align: center;
	display: flex;
	flex-flow: column;
	align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em;
    }

#logo {
        max-width: 100px;
        margin-left: 10px;
    /*float: left;
    max-width: 20%;
    background-color: white;
    border-radius: 45px;*/
}

#slogan {
    margin-left: -80px;
    margin-top: -55px;
    padding: 1em;
    grid-column: 2/3;
}
nav {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(6, 174, 252);
    text-align: center;
    
    
}

nav ul {
    
    list-style-type: none;
	margin: 0;
	padding: 1em;
	overflow: hidden;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: .5em;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: #EE655E;
    color: #12130F;
}

.active {
    color: black;
}

main {
    font-family: 'Merriweather', serif;
    padding: 12em;
    padding-top: 2em;
    line-height: 2em;
    color: #12130F;
    padding-bottom: 2em;
    background-color: lightgray;
}

.placeholder {
    background-color:lightgrey;
    border: dashed 1px black;
    padding: 2em;
    margin: 10px;
}
h2 {
    font-size: 26px;
}

#h2index {
    font-size: 30px;
}

h1,
h2,
h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    padding: .5em;
    margin-left: -80px;
    font-size: 24px;
}
section {
    padding: 1em;
}

/*img{
    max-width: 30%;
    border: lightblue solid 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }*/


footer {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(50, 49, 145);
    height: 40px;
    align-items: center;
    color: white;
}


/* audience */

.persona_pic {
    max-width: 15%;
    border: solid 3px #00B9AE;
}

.persona_pp {
    padding-top: 1em;
}


/* colors */

.colors_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#color1 {
    background-color: #EE655E;
    width:200px;
    height:100px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#color2 {
    background-color: #12130F;
    width:200px;
    height:100px;
    color: white;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#color3 {
    background-color: #E9E3E6;
    width:200px;
    height:100px;
    border: solid 1px gray;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#color4 {
    background-color: #00B9AE;
    width:200px;
    height:100px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

#color5 {
    background-color: #037171;
    width:200px;
    height:100px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

.color_pp {
    padding-top: 1em;
}

/* typography */

h2,
h3,
#t_ul,
.typo_pp {
    padding-top: 1em;
}

#sample1 {
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 34px;
    font-weight: bold;
    color: #037171;
    margin-left: 1em;
}

#sample2 {
    font-family: 'Merriweather Sans', sans-serif; 
    font-size: 26px;
    font-weight: bold;
    color: #037171;
    margin-left: 1.3em;
}


#sample3 {
        font-family: 'Merriweather', serif; 
        font-size: 18px;
        font-weight: bold;
        color: #037171;
        margin-left: 2em;
}
